# Create a Dataset from the Pilot data

This notebook gathers all the data generated during the pilot and consolidates it into a single dataframe that can be used to generate the figure for the scientific report.

In [1]:
from utils import *

In [2]:
datadir = '../user_data/'
users = [ ['Q0', 'c0', 'c1'],
          ['Q1', 'c0', 'c1'],
          ['Q2', 'c0', 'c1'],
          ['Q3inv', 'q3c1real', 'q3c2rand'],
          ['Q4inv', 'q4c1real', 'q4c2rand']
        ]

In [3]:
def format_and_concat(dfs, data, user, phase):

    df = pd.DataFrame(data)
    df['user']  = user
    df['phase'] = phase
    dfs = pd.concat([dfs, df])
    return dfs

In [4]:
df0 = pd.DataFrame()
df1 = pd.DataFrame()

for userlist in tqdm(users):
    user = userlist[0]
    for phase in [1, 2]:
        res, seg = read_log(os.path.join(datadir, user, userlist[phase]+'.txt'))    
        
        df0 = format_and_concat(df0, res, user, phase)
        df1 = format_and_concat(df1, seg, user, phase)

  0%|          | 0/5 [00:00<?, ?it/s]

Q0 1
Q0 1

 20%|██        | 1/5 [00:02<00:11,  2.88s/it]

Q0 2
Q0 2
Q1 1
Q1 1

 40%|████      | 2/5 [00:06<00:09,  3.23s/it]

Q1 2
Q1 2
Q2 1
Q2 1

 60%|██████    | 3/5 [00:08<00:05,  2.70s/it]

Q2 2
Q2 2
Q3inv 1
Q3inv 1

 80%|████████  | 4/5 [00:10<00:02,  2.57s/it]

Q3inv 2
Q3inv 2
Q4inv 1
Q4inv 1
Q4inv 2

100%|██████████| 5/5 [00:14<00:00,  2.83s/it]

Q4inv 2

In [5]:
df0

,logtype,sample_key,timestamp0,timestamp,stroke_id,segment_id,x,y,p,x_,...,x1,y1,s,angle,dangle,input,audio,condition,user,phase
0,data,526450_0,526450,0,29,0,0.281507,0.290283,0.072955,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q0,1
1,data,526470_10,526470,10,29,0,0.281507,0.290283,0.088040,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q0,1
2,data,526470_20,526470,20,29,0,0.281507,0.290283,0.103125,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q0,1
3,data,526516_30,526516,30,29,0,0.281198,0.290310,0.125432,-0.000309,...,0.000000,0.000000,0.000000,0.000000,0.000000,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q0,1
4,data,526516_40,526516,40,29,0,0.280889,0.290336,0.147740,-0.000618,...,0.000000,0.000000,0.000000,0.000000,0.000000,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24827,data,1088240_320,1088240,320,687,642,0.876140,0.246819,0.141237,0.027439,...,0.008268,-0.002610,0.866981,5.977402,0.268813,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q4inv,2
24828,data,1088253_330,1088253,330,687,642,0.880096,0.258735,0.105852,0.031395,...,0.009489,-0.000729,0.951736,6.206466,0.266185,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q4inv,2
24829,data,1088272_340,1088272,340,687,642,0.882530,0.268789,0.071612,0.033829,...,0.010132,0.001289,1.021336,6.409683,0.245849,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q4inv,2
24830,data,1088272_350,1088272,350,687,642,0.883405,0.275728,0.047449,0.034704,...,0.010101,0.003325,1.063420,6.601191,0.220738,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q4inv,2
24831,data,1088287_360,1088287,360,687,642,0.883755,0.278503,0.037784,0.035053,...,0.009433,0.005245,1.079299,6.790600,0.202112,"[1, sensel]","[1, 1, 0, 0, 0]",c1,Q4inv,2

In [6]:
df0.to_csv('pilot_0.csv')
df1.to_csv('pilot_1.csv')