# Create a Dataset from the Pilot data

This notebook gathers all the data generated during the pilot and consolidates it into a single dataframe that can be used to generate the figure for the scientific report.

In [4]:
import pandas as pd
from utils import *

In [11]:
datadir = '../user_data/'
# user subdir, file basename for phase(!) 1 ('c0' or 'c1<cond>'), basename for phase(!) 2 ('c1' or 'c2<cond>'), gender, age
users = [ ['Q0', 'c0', 'c1'],
          ['Q1', 'c0', 'c1'],
          ['Q2', 'c0', 'c1'],
          ['Q3inv', 'q3c1real', 'q3c2rand'],
          ['Q4inv', 'q4c1real', 'q4c2rand'],
          ['Q5inv', 'q5c1real', 'q5c2rand'],
          ['Q6',    'q6c1rand', 'q6c2real', 'f'],
          ['Q7inv', 'q7c1real', 'q7c2rand', 'm']
        ]

In [6]:
def format_and_concat(dfs, data, user, phase):

    df = pd.DataFrame(data)
    df['user']  = user
    df['phase'] = phase
    dfs = pd.concat([dfs, df])
    return dfs

In [7]:
df0 = pd.DataFrame()
df1 = pd.DataFrame()

for userlist in tqdm(users):
    user = userlist[0]
    for phase in [1, 2]:
        res, seg = read_log(os.path.join(datadir, user, userlist[phase]+'.txt'))    
        
        df0 = format_and_concat(df0, res, user, phase)
        df1 = format_and_concat(df1, seg, user, phase)

100%|██████████| 8/8 [00:22<00:00,  2.80s/it]

In [8]:
df1

,then,fl,segment_id,worker_0,min_key,min_dtw,threshold,length,worker_1,logtype,random_novelty,condition,user,phase
0,2588.908371,55,0,2252.959604,0,0.000000,False,0,2255.933459,segment,0.281,c1,Q0,1
1,3170.122950,56,1,2833.686329,1,0.000000,0.2,1,2838.701565,segment,0.343,c1,Q0,1
2,4938.754227,76,3,4602.323393,3,0.000000,0.2,2,4616.731459,segment,0.529,c1,Q0,1
3,6132.375101,55,4,5795.901005,4,0.000000,0.2,3,5807.310378,segment,0.591,c1,Q0,1
4,7401.013775,63,5,7064.543742,5,0.000000,0.2,4,7079.151704,segment,0.529,c1,Q0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,358432.489179,47,546,358117.101426,4,0.177320,0.733737,68,358141.726538,segment,1.521,c1,Q7inv,2
530,358790.987771,36,547,358475.589582,10,0.342726,0.733306,68,358497.307020,segment,0.591,c1,Q7inv,2
531,359236.330193,44,548,358920.917077,4,0.352175,0.732886,68,358944.168720,segment,0.591,c1,Q7inv,2
532,359553.213706,33,549,359237.875330,251,0.620924,0.733008,68,359256.718597,segment,2.017,c1,Q7inv,2
533,359894.163337,33,550,359578.807850,509,0.549887,0.732937,68,359597.895514,segment,0.467,c1,Q7inv,2

In [9]:
df0.to_csv('pilot_0.csv')
df1.to_csv('pilot_1.csv')