# Create a Dataset from the Pilot data

This notebook gathers all the data generated during the pilot and consolidates it into a single dataframe that can be used to generate the figure for the scientific report.

In [1]:
from utils import *

In [7]:
datadir = '../user_data/'
users = [ ['Q0', 'c0', 'c1'],
          ['Q1', 'c0', 'c1'],
          ['Q2', 'c0', 'c1'],
          ['Q3inv', 'q3c1real', 'q3c2rand'],
          ['Q4inv', 'q4c1real', 'q4c2rand'],
          ['Q5inv', 'q5c1real', 'q5c2rand']
        ]

In [8]:
def format_and_concat(dfs, data, user, phase):

    df = pd.DataFrame(data)
    df['user']  = user
    df['phase'] = phase
    dfs = pd.concat([dfs, df])
    return dfs

In [9]:
df0 = pd.DataFrame()
df1 = pd.DataFrame()

for userlist in tqdm(users):
    user = userlist[0]
    for phase in [1, 2]:
        res, seg = read_log(os.path.join(datadir, user, userlist[phase]+'.txt'))    
        
        df0 = format_and_concat(df0, res, user, phase)
        df1 = format_and_concat(df1, seg, user, phase)

100%|██████████| 6/6 [00:17<00:00,  2.95s/it]

In [10]:
df1

,then,fl,segment_id,worker_0,min_key,min_dtw,threshold,length,worker_1,logtype,random_novelty,condition,user,phase
0,2588.908371,55,0,2252.959604,0,0.000000,False,0,2255.933459,segment,0.281,c1,Q0,1
1,3170.122950,56,1,2833.686329,1,0.000000,0.2,1,2838.701565,segment,0.343,c1,Q0,1
2,4938.754227,76,3,4602.323393,3,0.000000,0.2,2,4616.731459,segment,0.529,c1,Q0,1
3,6132.375101,55,4,5795.901005,4,0.000000,0.2,3,5807.310378,segment,0.591,c1,Q0,1
4,7401.013775,63,5,7064.543742,5,0.000000,0.2,4,7079.151704,segment,0.529,c1,Q0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,360486.369109,25,549,360096.029033,2,0.276675,0.636994,50,360104.898224,segment,0.591,c1,Q5inv,2
511,361108.907324,22,550,360718.506257,2,0.125209,0.636668,50,360727.098676,segment,1.149,c1,Q5inv,2
512,361480.812191,12,551,361090.412548,105,0.444457,0.636487,50,361095.492552,segment,0.281,c1,Q5inv,2
513,361720.148578,12,552,361329.734977,105,0.144819,0.636142,50,361335.100077,segment,1.087,c1,Q5inv,2
514,693676.394483,39,559,693286.108086,1,0.187902,0.635767,50,693314.852345,segment,1.521,c1,Q5inv,2

In [11]:
df0.to_csv('pilot_0.csv')
df1.to_csv('pilot_1.csv')